body{
    background-color: black;
}

.active{
    background-color: white;
}

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.btn{
    justify-content: center;
}
h5{
    text-align: center;
}
section{
    margin-bottom: 50px;
    
}
.navbar{
    background: rgba(0, 0, 0, 0.5);
}
.about_us{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(images/see-more.jpg);
    background-position: 100%;
}
.about_us .col-lg-6 .title, .subtitle, .text-title{
    color: white;
    text-align: center;
    margin: 25px;
}
.btn-div{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-div a{
    margin: 0 20px;
}

.first{
    margin: 20px 0;
}
h4{
    text-align: center;
    color: white;
    background-color: #dc3545;
    padding: 5px 0;
    
}
h5.card-title{
    font-size: 15px;
    text-align: center;
}
.card{
    box-sizing: border-box;
    margin: 10px 0;
    box-shadow: 2px 2px 3px #fff;
    z-index: -10;
    animation: animate 5s ease;
}
.card-title{
    color: white;
}
.card-body a.btn-danger{
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
}
a.btn:hover{
    background-color: black;
    color: rgb(220, 53, 69);
}

p.text{
    line-height: 3;
    color: white;
    margin-inline: 0px;
}

.star i.bi{
    color: white;
    margin-right: 3px;
    font-size: 15px;
}
.star{
    text-align: center;
    margin: 5px 0;
}
#marvel a.btn{
    margin-bottom: 10px;
    margin-inline: 4px;
}
#netflix a.btn{
    margin-bottom: 10px;
    margin-inline: 4px;
}
.icons i{
    margin: 5px;
    cursor: pointer;
}
.textf{
    color: white;
    text-align: center;font-size: 14px;
}

#footer{
    margin-bottom: 0;
}

#footer a{
    color: white;
    text-align: center;
    text-decoration: none;
}

h6.f-title{
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 5px 0;
}
#footer .row{
    justify-content: center;
    align-items: center;
}
img.img-fluid{
    width: 150px;
    height: 50px;
    padding: 0 5px;
    margin: 5px 30px;
}
/* animation */
img.card-img:hover{
    opacity: 0.5;
}

/* @keyframes animate {
    0%{
        transform: translateY(1500px);
    }
    100%{
        transform: translateY(0);
    }
} */